<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

<nav id="navbar" class="d-flex">
	<ul class="d-flex">
		<li>
			<a class="link active" href="{{ path('homepage') }}">Home</a>
		</li>
		<li>
			<a class="link" href="{{ path('main') }}">Store</a>
		</li>
	</ul>
	<ul class="d-flex">
		<li><a class="link" href="#">About</a></li>
	</ul>
</nav>

<script src="{{ asset('js/navbar.js') }}"></script>