<h1>{{title}}</h1>

<input [(ngModel)]="taskName" type="text" placeholder="Nom de la tache" value=""  (keyup.enter)="onKey()">
<input [(ngModel)]="taskDesc" type="text" placeholder="Description" value="" (keyup.enter)="onKey()">

<button (click)="addTask()">Add</button>
<hr>
<ul>
    <li id="liste" *ngFor="let t of taskList; index as i">
        <button (click)="removeTask(i)"> X </button>
        <span> Tache n°{{i+1}}</span>
        <span>: {{t.getName()}} </span>
        <span> {{t.getDescription()}} </span>
    </li>
</ul>