.flex {
    display: flex;
    flex-flow: row wrap;
}
.cell {
    margin: 0px;
    padding: 0px;
    height: 8px;
    width: 8px;
}
.live {
    background-color: limegreen;
}
.dead {
    background-color: black;
}

canvas {
    border: 1px solid lime;
}

html {
    background-color: black;
    color: limegreen;
}
